$background-color: #ecf0f1;
$text-color: #2d3436;
$padding: 30px;

$header-width: 30%;
$header-text-color: #ecf0f1;
$header-background-color: #384144;

$blockchain-logo-size: 80px;

@mixin monospace {
  font-family: 'PT Mono', monospace;
  font-weight: bold;
}

@mixin header-data {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 15px 0 15px 0;

  i {
    margin-right: 20px;
    font-size: 3em;
  }

  span {
    font-size: 1.5em;
    @include monospace;

    div {
      font-size: 0.6em;
      margin-left: 20px;
    }
  }
}

@mixin header-info {
  margin-left: 10px;

  @include monospace;
}

@keyframes animate-hyperledger {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(10deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes block-appear {
  0% {
    transform: translate(0px, 300px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes separator-appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
